<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="assets/images/recyloopLogo.png" alt="RecyLoop Logo">
    </div>
    <div class="footer-bottom">
      <h3>Pages</h3>
      <ul>
        <li>
          <a href="#header" class="footer-link">Inicio</a>
        </li>
        <li>
          <a href="#about-us" class="footer-link">Nosotros somos</a>
        </li>
        <li>
          <a href="#subscribe" class="footer-link">Contáctenos</a>
        </li>
      </ul>
    </div>
    <div class="footer-social">
      <img src="assets/images/redes-sociales.png" alt="Social Media Icons">
    </div>
  </div>
  <div class="footer-bottom">
    <p><a href="#" class="footer-link">Términos y Condiciones</a></p>
    <p>RecyLoop © Todos los derechos reservados 2024</p>
  </div>
</footer>
