<section id="header" class="header">
  <div class="header-content">
    <img src="assets/images/recyloopLogo.png" alt="RecyLoop Logo" class="logo">
    <h1>Bienvenido a RecyLoop</h1>
    <h2>Simplifica el reciclaje, transforma el planeta.</h2>
    <p>
      Descubre cómo cada pequeña acción cuenta para crear un futuro más sostenible. 
      Con nuestra app, reciclar es fácil, rápido y recompensado.
    </p>
    <button class="download-btn">Descarga Aquí!</button>
  </div>
  <div class="header-image">
    <img src="assets/images/v202_173.png" alt="Recycling Icon">
  </div>
</section>
