<section id="subscribe" class="subscribe">
  <div class="subscribe-background"></div>
  <div class="subscribe-content">
    <div class="subscribe-image">
      <img src="assets/images/v13_8642.png" alt="Sustainable Products">
    </div>
    <div class="subscribe-form">
      <h2>“Únete a RecyLoop”</h2>
      <p>Haz del reciclaje un hábito y forma parte de nuestra comunidad ecológica.</p>
      <form (ngSubmit)="onSubmit()" class="form">
        <input type="text" placeholder="Enter your name" name="name" required>
        <input type="email" placeholder="Enter your e-mail" name="email" required>
        <button type="submit" class="subscribe-btn">SUSCRIBETE</button>
      </form>
    </div>
  </div>
</section>
