<section id="about-us" class="about-us">
  <div class="overlay"></div>
  <div class="about-content">
    <h2>Sobre Nosotros</h2>
    <div class="about-text">
      <p>
        En RecyLoop, somos más que una plataforma, somos una comunidad comprometida con la sostenibilidad y el cuidado del planeta. 
        Nuestra misión es empoderar a las personas para que tomen acción hacia un futuro más limpio, facilitando la gestión de residuos 
        a través de soluciones accesibles e innovadoras que promuevan prácticas responsables.
      </p>
    </div>
    <div class="mission-vision">
      <h3>Misión</h3>
      <p>
        "Inspirar y empoderar a las personas para que sean agentes de cambio, promoviendo una gestión sostenible de los residuos y 
        contribuyendo a la creación de un mundo más limpio y consciente."
      </p>
      <h3>Visión</h3>
      <p>
        "Ser la plataforma líder en reciclaje, transformando la forma en que gestionamos los residuos y cuidamos el medio ambiente, 
        creando una comunidad global comprometida con la sostenibilidad y contribuyendo a un futuro próspero para las próximas generaciones."
      </p>
    </div>
  </div>
</section>
