.why-recyloop {
    background-color: #ffffff;
    padding: 60px 20px;
    text-align: center;
  }
  
  .why-recyloop h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 40px;
  }
  
  .features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .feature {
    max-width: 250px;
    text-align: center;
    background: #ffffff;
    border-radius: 8px;
  }
  
  .feature img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
  
  .feature h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .feature p {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
    padding: 0 10px;
  }
  @media (max-width: 768px) {
    .features {
      flex-direction: column;
      align-items: center;
    }
  
    .feature {
      max-width: 100%;
    }
  }