<section class="why-recyloop">
  <h2>¿Por qué RecyLoop?</h2>
  <div class="features">
    <div class="feature">
      <img src="assets/images/practicas-sostenibles.png" alt="Prácticas Sostenibles">
      <h3>Prácticas Sostenibles</h3>
      <p>Adopta hábitos sostenibles con nuestra plataforma fácil de usar, que te guía paso a paso en la gestión adecuada de residuos. Juntos, contribuimos a un mundo más limpio y consciente.</p>
    </div>
    <div class="feature">
      <img src="assets/images/participacion-comunitaria.png" alt="Participación Comunitaria">
      <h3>Participación comunitaria</h3>
      <p>Forma parte de una comunidad global comprometida con la sostenibilidad. Participa en iniciativas locales, campañas de reciclaje y eventos que te conectan con otros que comparten tu visión de un futuro más verde.</p>
    </div>
    <div class="feature">
      <img src="assets/images/tecnologia-innovadora.png" alt="Tecnología Innovadora">
      <h3>Tecnología innovadora</h3>
      <p>Nuestra app utiliza tecnología avanzada para simplificar el reciclaje. Con inteligencia artificial y notificaciones automáticas, te ayudamos a reciclar de manera eficiente y sin complicaciones.</p>
    </div>
    <div class="feature">
      <img src="assets/images/acciones-gratificantes.png" alt="Acciones Gratificantes">
      <h3>Acciones gratificantes</h3>
      <p>Tus esfuerzos tienen valor. Recibe recompensas por tus acciones sostenibles, desde descuentos en productos ecológicos hasta entradas para eventos o tecnología verde, y sigue motivado para continuar haciendo la diferencia.</p>
    </div>
  </div>
</section>
